@media (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Salsa", cursive;
  }
  a {
    text-decoration: none;
    font-weight: 100;
    color: rgb(0, 0, 0);
  }
  a:not(:empty) {
    color: rgb(0, 0, 0);
    /* Change the text color only */
  }
  .iml {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid;
    padding: 16px;
    aspect-ratio: 1/1;
    margin: 0 auto;
  }
  .container246 {
    height: auto;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
  }
  .container246 .mtop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #cdb4db;
    padding: 3%;
  }
  .container246 .mtop .mayoestin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container246 .mtop .mayoestin .oetitle {
    font-family: "Salsa", cursive;
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .container246 .mtop .mayoestin .oetitle h2 {
    font-size: 44px;
  }
  .container246 .mtop .mayoestin .mayoest {
    height: 140px;
  }
  .container246 .mtop .mayoestin .mayoest p {
    font-family: "Salsa", cursive;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    color: rgb(0, 0, 0);
  }
  .container246 .mtop .mayoestin .maysocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container246 .mtop .mayoestin .maysocial .iconb {
    border: 1px solid #b1b1b1;
    font-size: 28px;
    margin-right: 25px;
    color: #000000;
  }
  .container246 .mtop .mayoestin .maysocial .iconb:hover {
    color: white;
    border: 1px solid white;
  }
  .container246 .mtop .maycontact {
    width: 100%;
    height: auto;
  }
  .container246 .mtop .maycontact .contitle {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  .container246 .mtop .maycontact .maycontactin {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  .container246 .mtop .maycontact .maycontactin a {
    text-decoration: none;
    font-weight: 100;
  }
  .container246 .mtop .maycontact .maycontactin .iconc {
    font-size: 24px;
    margin-right: 5px;
    color: #000000;
  }
  .container246 .mtop .maycontact .maycontactin .iconc:hover {
    color: white;
    border: 1px solid white;
  }
  .container246 .mtop .mayquick {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  }
  .container246 .mtop .mayquick .linktitle {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  .container246 .mtop .mayquick .quickin {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
    text-align: center;
  }
  .container246 .mtop .mayquick .quickin a {
    text-decoration: none;
    font-weight: 100;
  }
  .container246 .mtop .mayquick .quickin li {
    list-style: none;
  }
  .container246 .mtop .mayquick a:hover {
    color: #b1b1b1;
  }
  .container246 .mtop .maycollections {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .container246 .mtop .maycollections .quickin {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
    text-align: center;
  }
  .container246 .mtop .maycollections .quickin a {
    text-decoration: none;
    font-weight: 100;
  }
  .container246 .mtop .maycollections .quickin li {
    list-style: none;
  }
  .container246 .mtop .maycollections a:hover {
    color: #b1b1b1;
  }
  .mbot {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #000000;
    color: white;
  }
  .mbot .heart {
    color: rgb(221, 33, 149);
  }
  .mbot .th {
    color: green;
    margin-left: 5px;
  }
}
@media (min-width: 1001px) {
  .mayank * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mayank .container246 {
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-family: "Salsa", cursive;
  }
  .mayank .container246 a {
    text-decoration: none;
  }
  .mayank .container246 .mtop {
    background-color: #cdb4db;
    height: 420px;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 5%;
  }
  .mayank .container246 .mtop a {
    font-size: 18px;
  }
  .mayank .container246 .mtop a:not(:empty) {
    color: rgb(0, 0, 0);
    /* Change the text color only */
  }
  .mayank .container246 .mtop .mayoestin {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mayank .container246 .mtop .mayoestin .oetitle {
    font-size: 30px;
    text-decoration: underline;
  }
  .mayank .container246 .mtop .mayoestin .mayoest {
    height: 140px;
  }
  .mayank .container246 .mtop .mayoestin .mayoest p {
    font-size: 18px;
    font-weight: 100;
    color: rgb(0, 0, 0);
  }
  .mayank .container246 .mtop .mayoestin .maysocial {
    height: 40px;
  }
  .mayank .container246 .mtop .mayoestin .maysocial .iconb {
    font-size: 28px;
    margin-right: 25px;
    color: #000000;
  }
  .mayank .container246 .mtop .mayoestin .maysocial .iconb:hover {
    color: rgb(0, 0, 0);
    border: 1px solid white;
  }
  .mayank .container246 .mtop .maycontact {
    width: 30%;
    margin-left: 80px;
  }
  .mayank .container246 .mtop .contitle {
    font-size: 24px;
    height: 64px;
    text-align: center;
    text-decoration: underline;
  }
  .mayank .container246 .mtop .maycontactin {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    text-align: center;
    color: #000000;
  }
  .mayank .container246 .mtop .maycontactin .iconc {
    font-size: 24px;
    margin-right: 5px;
    color: #000000;
  }
  .mayank .container246 .mtop .maycontactin .iconc:hover {
    color: rgb(137, 51, 235);
    border: 1px solid white;
  }
  .mayank .container246 .mtop .mayquick {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;
  }
  .mayank .container246 .mtop .mayquick .linktitle {
    font-size: 24px;
    height: 64px;
    text-decoration: underline;
  }
  .mayank .container246 .mtop .mayquick .quickin {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    color: #000000;
  }
  .mayank .container246 .mtop .mayquick .quickin li {
    list-style: none;
  }
  .mayank .container246 .mtop .mayquick a:hover {
    color: #0717f8;
  }
  .mayank .container246 .mtop .maycollections {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
  }
  .mayank .container246 .mtop .maycollections .quickin {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
    color: #000000;
    font-weight: 100;
  }
  .mayank .container246 .mtop .maycollections .quickin li {
    list-style: none;
  }
  .mayank .container246 .mtop .maycollections a:hover {
    opacity: 0.25;
  }
  .mayank .container246 .mbot {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
  }
  .mayank .container246 .mbot .heart {
    color: rgb(221, 33, 149);
  }
  .mayank .container246 .mbot .th {
    color: rgb(73, 255, 73);
    margin-left: 5px;
  }
}/*# sourceMappingURL=mayank.css.map */