/* * {
    padding: 0px;
    margin: 0px;
  } */
  
  .container{
    display: flex;
    justify-content: center;
    height: 60px;
  }
  
  .navbar {
    display: flex;
    background-color: #4cd4ca;
    width: 100vw;
    height: 60px;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .navbar-inner {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    background-color: #4cd4ca;
    flex-basis: 700px;
  }
  
  .login-btn {
    background-color: #925041;
    padding: 10px;
    margin-right: 15px;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    border-radius: 7px;
    color: #4cd4ca;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .login-btn:hover {
    background-color: #4cd4ca;
    color: rgba(0, 0, 255, 0.65);
    border: 1px solid rgba(0, 0, 255, 0.65);
    cursor: pointer;
  }
  
  .nav-btn {
    color: black;
    background-color: #4cd4ca;
    font-family: "Exo 2", sans-serif;
    border: none;
    font-size: 18px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .nav-btn:hover {
    text-decoration-line: none;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #BDE0FE;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: black;
  }
  
 
  @media screen and (max-width:1280) and (min-width: 1020px) {
    .main {
      height: 530px;
    }
    .head-section #main-text {
      font-size: 65px;
      width: 520px;
    }
  }
 

  @media screen and (max-width: 728px) {
    .navbar {
      justify-content: space-between;
      z-index: 1;
    }
    .hamburger-menu {
      display: block;
    }
    .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-inner {
      position: fixed;
      top: -100px;
      gap: 0;
      border: none;
      border-top: 3px solid rgb(62, 61, 61);
      background-color: 4cd4ca;
      width: 100vw;
      height: 45px;
    }
    .nav-btn {
      margin: 6px 0;
      background-color: 4cd4ca;
    }
    .navbar-inner.active {
      top: 60px;
    }
   
    
  }
 