body{
  padding:0px;
  margin:0px;
  font-family: "Exo 2", sans-serif;
}

.payment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;

}
.inner-payment-container{
 
    width:90%;
    display: flex;
   
    justify-content: center;
   height:100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
}
.payment-details{
   
   display: flex;
   justify-content: space-around;
   background-color: rgba(6, 45, 239,0.8);
   color:white;

}
.address{
    width:300px;
    display: flex;
   flex-direction: column;
   
}
.address input ,.card input,.card #expmonth{
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding:10px;
    border-radius:10px;
    margin:5px;
    opacity: 0.8578;
   
}
.address input:hover ,.card input:hover{
    box-shadow: rgba(4, 23, 45, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(39, 175, 220, 0.08) 0px 1px 0px inset;
}
.card{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:white;
 
   
}
.card input{
    font-size:10px;
    width:250px;
    font-weight: bolder;
}
.payment-items{
    width:50%;
   display: flex;
   justify-content: center;
   align-items: center;
  background-color: antiquewhite;
 

}
.items{
    width:80%;
    text-align: center;
}
.pay-items-details{
    display: flex;
    justify-content:space-between;
    height:60px;
  
}
.pay-items-details h4 , p{
    padding:0;
    margin:0;
    font-size:20px;
    font-weight: lighter;

}
.btn-payment{
    background-color:white;
    width:90%;
    padding:10px 0px 10px 0px;
    background: none;
    border-color:rgb(8, 0, 255);
   cursor:pointer;
}