body{
  padding:0px;
  margin:0px;
  font-family: "Salsa", cursive;
  display: flex;

    justify-content: center;
   
    background-image: url("../images/output-onlinepngtools\ \(2\).png");
    background-position-y: center;
    background-size: cover;
}

.payment-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; */
    width:fit-content;
    

}

.inner-payment-container{
   /* opacity: 0.5; */
    width:100%;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
   height:70%;
  color:black;
}
.payment-details{
    background-color: rgb(95, 97, 223);
  width:90%;
   color:black;
  padding:10px;
   border-top-right-radius:35px;
   border-top-left-radius:35px;
}
.address{
    width:100%;
    display: grid;
    grid-template-columns: 35% 30% 25%;
    gap:10px;
 
}
.address input ,.card input,.card #expmonth{
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding:10px;
    border-radius:10px;
    margin:5px;
    opacity: 0.8578;
    width:180px;
   
}
.address input:hover ,.card input:hover{
    box-shadow: rgba(4, 23, 45, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(39, 175, 220, 0.08) 0px 1px 0px inset;
}
.card{
    width:70%;
    display: flex;
    flex-direction: column;
   gap:10px;
  
 
   
}
.card input{
    font-size:10px;
    width:180px;
    font-weight: bolder;
}
.payment-items{
    width:50%;
   display: flex;
   justify-content: center;
   align-items: center;
  background-color: antiquewhite;
 

}
.items{
    width:80%;
    text-align: center;
}
.pay-items-details{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:200px;
  
}
.inner-pay{
    width:90%;
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: space-between;

}
.pay-items-details h2 , p{
    padding:0;
    margin:0;
    font-size:20px;
    font-weight: lighter;

}
.btn-payment{
    background-color:blue;

   width:91%;
    color:white;
    padding:20px ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-color:rgb(8, 0, 255);
   cursor:pointer;
  

}
.btn-link{
    text-decoration-line:none ;
    background-color:blue;
      padding:10px;
   border:none;
   

 width:60%;
    color:white;
   
}

@media screen and (max-width: 978px) and (min-width: 658px) {
   
    .address input ,.card input,.card #expmonth{
        width:110px;
    }
    .card input{
        width:170px;
    }
    .card{
        gap:0px;
    }
   
}
@media screen and (max-width: 658px) {
    .address {
        grid-template-columns: 200px 200px;
    }
.course{
    display: flex;
    width:400px;
   
}
.address input ,.card input,.card #expmonth{
    width:130px;
}
.card input{
    width:130px;
}
#hidden{
    display:none;
}
}