.card-list{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-template-rows: auto; */
    gap: 10px;
 

}
.card{
    background: #fff;
    border: 1px solid #a9a9a9;
    box-shadow: 25px 25px 55px rgba(0,0,0,.05);
    border-radius: 60px;
    margin-bottom: 50px;
    position: relative;
    width: 100%
    
}
.card-img{
    position: relative;
    width: 100%;
    vertical-align: bottom;
    border-radius: 50px;
    
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 60px;
    width: 100%;
}
.card-body{
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
}
.card-body>h3{
    color: #3877bb;
    font-family: 'Avenir LT Pro 55 Roman';
    font-weight: 800;
    font-size: 18px;
    line-height: 35px;
}

.price{
    font-size: 22px;
    line-height: 27px;
    width: 69%;
    color: #96296e;
    font-family: 'Avenir LT Pro 65';
    font-weight: 900;
    margin-right: 5px;
}


span{
    font-size: 13px;
    line-height: 25px;
    width: 43%;
   
}
button{
    background: #8ab5e4;
    box-shadow: rgba(165,208,255,.54) 8px 8px 0;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.05em;
    border-radius: 55px;
    display: inline-block;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease all;
    font-family: 'Avenir LT Pro';
    font-style: normal;
}
button:hover{
    background-color: #3877bb;
}

p{
    font-size: medium;
}